extends ../layout

block content

  .jumbotron.bg-light
    .row
      .col-8
        h1= title
      .col-4
        p.text-right
          a.btn.btn-sm.btn-secondary(href="/author/create") Create Author

  if authorList.length > 0
    .row
      .col
        .author-list

          table.table
            thead.thead-dark
              tr
                th(scope='col') #
                th(scope='col') Author Name
                th(scope='col')
            tbody
              - function getLifeSpan(author){ return author.lifeSpan; }
                each author in authorList
                  tr
                    th 1
                    td #{author.name}
                      if author.dateOfDeath
                        |  (#{getLifeSpan(author)})
                    td.column-width
                      a.btn.btn-sm.btn-outline-secondary(href="/author/" + author.url) View
                      a.btn.btn-sm.btn-outline-secondary(href="/author/" + author.url) Edit
                      a.btn.btn-sm.btn-outline-secondary(href="/author/" + author.url + "/delete") Delete

  else
    h3 There is No Author in The List
