extends ../layout

block content
    .jumbotron.bg-light
        h1 #{title}

    if errors
        .alert.alert-danger(role='alert')
            ul
            for error in errors
                li!= error.msg

    form(method='POST' action='')
    
       .form-group
            label(for='name') Genre:
            input#name.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='name' value=(undefined===genre ? '' : genre.name))
            button.mt-2.btn.btn-primary(type='submit', id="add-genre") Submit Genre
    