extends ../layout/layout

block content

  .jumbotron.bg-light
    h1 Genre: #{genre.name}
  
  if genreBooks.length > 0
    div
      h4 Books
      
      dl
        each book in genreBooks
          dt 
            a(href="/book/" + book._id) #{book.title}
          dd #{book.summary}

  else
    h3 This genre has no books